
<!----------- STATISTICS MAIN CONTENT ----------->
<div class="container">
    <div class="panel panel-default panel-tree">
        <div class="panel-heading">
            <h3 class="panel-title">Area</h3>
        </div>
        <div class="panel-body">
            <tree-grid
                tree-data="treedata" 
                icon-expand="glyphicon glyphicon-folder-close"
                icon-collapse="glyphicon glyphicon-folder-open"
                on-click="clickHandler(branch)">
            </tree-grid>
        </div>
    </div>
    
    <div class="panel panel-default panel-graph">
        <div class="panel-heading">
            <h3 class="panel-title">Graphics</h3>
        </div>
        <div class="panel-body">
            
        </div>
    </div>
</div>