<!----------- BOTTOM NAVBAR: START ----------->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-right btn-group-md btn-group">
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-calendar small" aria-hidden="true"></span>
                Organisations
            </button>
            
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-tasks small" aria-hidden="true"></span>
                Process
            </button>
            
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-list-alt small" aria-hidden="true"></span>
                Details
            </button>
            
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-duplicate small" aria-hidden="true"></span>
                Docs
            </button>
            
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-globe small" aria-hidden="true"></span>
                Markets
            </button>
            
            <button class="btn btn-default" ng-class="{disabled: selectedRow == null}">
                <span class="glyphicon glyphicon-random small" aria-hidden="true"></span>
                Gantt
            </button>
        </div>
    </div>
</nav>
<!----------- BOTTOM NAVBAR: END ----------->